.card-container {
  border: 1px solid gray;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  background-color: rgb(132, 200, 218);
  padding: 25px;
  cursor: pointer;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}

.card-container:hover {
  transform: scale(1.05);
}